<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

  <div style="text-align: center">
    <h1>I love you</h1>
    <h2>cake is a lie</h2>
  </div>

  <div style="margin-bottom: 30px">
    <span>
      <label style="margin-right:20px; width: max-content; margin-top: inherit; margin-bottom: 30px;">Количество записей из БД: {{countRecord.records}}</label>
      <button (click)="getCountRecords()">Узнать количество записей</button>
    </span>
  </div>


  <form (submit)="transformText()" style="margin-bottom: 20px">
    <div>
      <input [(ngModel)]="countRecord.original_text" minlength="0" maxlength="20" name="original_text" style="opacity: 1; box-sizing:border-box; font-size: 20px; height: 30%; margin: 0 0 30px; width: 35%" placeholder="Текст для образования (20 символов)"/>
    </div>
    <button>Преобразовать текст</button>
  </form>

  <label style="font-size: 20px;">Результат преобразования: {{countRecord.transform_text}} </label>

  <p-table [value]="all_records">
    <ng-template pTemplate="header">
      <tr style="height: 100px;">
        <th>Номер</th>
        <th>Дата сохранения записи</th>
        <th>Оригинальная строка</th>
        <th>Изменённая строка</th>
        <th>Действие</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-records>
      <tr style="text-align: center">
        <td>{{records.id}}</td>
        <td>{{records.dateSave}}</td>
        <td>{{records.originalString}}</td>
        <td>{{records.convertedString}}</td>
        <td><button  class="button_click_sm">Посмотреть на другие данные</button></td>
      </tr>
    </ng-template>
  </p-table>


  <p-treeTable [value]="testRe">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of cols">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr>
        <td>
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
          {{rowData.id}}
        </td>
        <td>{{rowData.dateSave}}</td>
        <td>{{rowData.originalString}}</td>
        <td>{{rowData.convertedString}}</td>
      </tr>
    </ng-template>
  </p-treeTable>



</body>
</html>



<style>

  .button_click_sm{
    font-size: 20px;
    font-family: serif;
    color: white;
    border-radius: 10px;
    background: #1976d2;
    padding: 2% 3%;
    border: none;
  }
  .button_click_sm:hover {
    background:grey;
  }

  .button_click_sm:active{
    background: #333333;
  }

</style>
